/SimDynamics/ @patrickhegemann @reister

/VirtualRobot/IK/platform @reister @dreher
/VirtualRobot/MJCF/ @reister
/VirtualRobot/Nodes/HemisphereJoint/ @reister
/VirtualRobot/Nodes/RobotNodeHemisphere.* @reister
/VirtualRobot/XML/mujoco/ @reister
